<div *ngIf="!list">
  <span #loading>
    <ng-content select="[loading]"></ng-content>
    <span *ngIf="!loading.innerHTML.trim()">
      <img *ngIf="!list" src="ss" alt="">
    </span>
  </span>
</div>







<div *ngIf="list?.length===0">
  <span #empty>

    <ng-container select="[empty]"></ng-container>
  </span>
  <span *ngIf="!empty.innerHTML.trim()">
    There are no records to display
  </span>
</div>

<ng-container *ngIf="list && list.length > 0">
  <ng-content select="[content]"></ng-content>

</ng-container>
